.input {
  background-color: antiquewhite;
  width: 2em;
  height: 2em;
  display: flex;
  flex: 1;
  justify-content: center;
  font-weight: lighter;
  font-size: 1.4em;
  background-color: lightgrey;
  color: black;
  outline: 1px solid slategrey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
